body{
    background: linear-gradient(to right, #3f5efb,#fc466b);
}

.wrapper{
    width: 70%;
    margin: auto;
    text-align: center;
}

h1{
   margin: 20px; 
   font-size: 6rem;
   color: rgb(208,214,218);
}

.dice-area{
    margin: 0px 50 px;
    text-align: center;
    display: inline-block;
}

p{
    font-size: 2.5rem;
    color: rgb(208,214,218);

}

img{
    width:320px;
}

.click{
     padding: 1rem 2rem;
     border-radius:1rem;
     box-shadow: none;
     border:2px solid red;
     margin:1.5rem 37rem;
     width:20rem;
}
.click a{
    text-decoration: none;
    font-size:1.8rem;
    font-weight:750 ;
    color: saddlebrown;
}